{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="Image">
                    <img src="{% static 'Images/1.jpg' %}">
        </div>
            <div class="date">
                {{ post.published_date }}
            </div>

        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% for comment in post.comments.all %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
{% endblock %}